.container.is-fluid .table-container table {
    margin: 0 auto;
}
.account-info {
    color: black;
    font-weight: bold;
}
.chart-container {
    position: relative;
    width: 50%;
    height: 300px;
    margin: 20px auto;
}